@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
<h1>Contact Initials HERE</h1>
</div>

<table class="text-center">
    
    <tr>
        First Name
    </tr>
    <tr>
        Last Name
    </tr>
        
</table>

<table>
    <tr>
        Phone
    </tr>
    <tr>
        Email
    </tr>
</table>