@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <h1 class="display-4">About Us</h1>
    <p>Our web app is going to house a directory of your contacts. Exciting features still on the way!</p>






</div>